@charset "utf-8";

html {
    scroll-behavior: smooth;
}

body {
    display: block;
    font-family: 'Unbounded', cursive;
    margin: 0;
    width: 100%;
    height: 100%;
    color: white;
    background-color: #131516;
}

header {
    width: 100%;
    background-color: black;
    padding-top: 40px;
    left: 0;
    z-index: 100;
    position: fixed;
    color: white;
    display: block;
}

.gutter {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}

#full {
    width: 100%;
}

#outer {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

#flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#headerTitle {
    font-size: 48px;
    margin: 0;
}

#headerPara {
    margin-top: 0;
    color: #ccc;
}

ul#navMain li {
    display: inline;
    margin: 0.5em;
}

.navP {
    text-decoration: none;
    color: #ccc;
    padding: 0.5em;
    transition: 1000ms;
    border-radius: 30px;
}

.navP:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
}

#hero {
    height: 100vh;
    width: 100%;
    text-align: center;
    background-image: url("background.jpg");
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    animation: background 2s ease-in-out 1s forwards;
}

@keyframes background {
    from {
        background-position: fixed;
    }

    to {
        background-position: center;
    }
}

#heroP {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: xx-large;
}

main {
    clear: both;
}

article {
    margin: 10%;
    text-align: center;
}

#about {
    display: flex;
    color: #bbb;
}

.section {
    width: 50%;
}

#hey {
    text-align: initial;
}

ul {
    text-align: initial;
    list-style-type: none;
}

.code {
    border-left: 4px solid white;
    background-color: #222;
    padding-left: 10px;
    margin-top: 4px;
}

#info {
    margin: 0;
    width: 100%;
    height: 22vh;
    padding-top: 2%;
    background-color: #bbb;
    font-size: large;
    color: black;
    text-align: center;
}

#info ul {
    text-align: center;
}

.contactLink {
    padding-left: 0%;
    color: black;
    transition: 100ms;
}

.contactLink:hover {
    color: lightskyblue;
}

footer {
    width: 100%;
    text-align: center;
}